/* Header Styles */
.header {
    background-image: url(../images/upsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 500px;
    height: 250px;
    background-position: bottom;
  }
  #pageTopic {
    text-align: center;
  }
  /* Primary Color */
  .colorContainer {
    display: inline-block;
    margin: 15px;
  }
  .swatch {
     height: 200px;
     width: 170px;
     border: 1px solid black;
  }
  .hexCode {
     padding: 15px;
     text-align: center;
     border: 1px solid black;
     border-top: none;
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
  }
  .darkBlue {
    background-color: #333366;
  }
  .darkGrey {
    background-color: #545454;
  }
  .lightGrey {
    background-color: #E3E3E3;
  }
  .white {
    background-color: #FFFFFF;
  }
  .lightBlue {
    background-color: #12A0F6;
  }
  .red {
    background-color: #F84848;
  }
  .orange {
    background-color: #FC7705;
  }
  .lightBlue {
    background-color: #13A0F6;
  }
  .lightGreen {
    background-color: #8ABE48;
  }
  /* Typography CSS */
  .type_container {
     display: inline-block;
     margin: 20px;
  }
  
  /* UI Elements */
  .button {
     display: inline-block;
     padding: 15px;
     margin: 15px;
     width: 150px;
     text-align: center;
     color: white;
  }
  .primary {
    background-color: #2B459A;
  }
  .success {
    background-color: #8ABE48;
  }
  .danger {
    background-color: #F84848;
  }
  .warning {
    background-color: #FC7705;
  }
  .info {
    background-color: #0099FA;
  }
  .primaryActive {
    background-color: #3A66B7;
  }
  .successActive {
    background-color: #668C35;
  }
  .dangerActive {
    background-color: #AD4848;
  }
  .warningActive {
    background-color: #BA7A43;
  }
  .infoActive {
    background-color: #4386BA;
  }
  .sectionHead {
    border-bottom: 8px solid #DDDDDD;
  }